* {
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #b7c4b9;
}

header {
    padding: 50px;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}

h1 {
    font-weight: 300;
    margin-bottom: 20px;
}

.new-task-form {
    display: flex;
    justify-content: space-between;
}

input,
button,
textarea {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

.new-task-input {
    flex: 1 1 0%;
    background-color: #f5f5f5;
    border-radius: 25px;
    padding: 20px;
    margin-right: 50px;
    font-size: 20px;
    overflow: auto;
}

.new-task-input::-webkit-input-placeholder {
    font-size: 20px;
}

.new-task-submit {
    font-size: 20px;
    font-weight: 500;
    background-color: #000000;
    color: #f5f5f5;
    border-radius: 25px;
}

.new-task-submit:hover {
    opacity: 0.7;
}

.new-task-submit:active {
    opacity: 0.5;
}

main {
    padding: 0px 50px 0px 50px;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px
}

.task-element {
    margin: 25px 0px 0px 0px;
    background-color: #f5f5f5;
    border-radius: 25px;
}

.hidden-element {
    display: none;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.input-text {
    flex: 1 1 0%;
    padding: 0;
    font-size: 20px;
    overflow: auto;
}

.checked,
.remove {
    all: unset;
    padding: 0 6px 0 6px;
    font-size: 20px;
}


.checked:hover {
    opacity: 0.7;
    -webkit-text-fill-color:#008000;
}

.checked:active {
    opacity: 0.3;
    -webkit-text-fill-color:#008000;
}

.remove:hover {
    opacity: 0.7;
    -webkit-text-fill-color:#ff0000;
}

.remove:active {
    opacity: 0.5;
    -webkit-text-fill-color:#ff0000;
}

.checked:focus {
    -webkit-text-fill-color:#008000;
}

.press {
    display: flex;
    flex-direction: column;
}

.text-decoration {
    text-decoration: line-through;
}

::-webkit-datetime-edit { padding: 0; }
::-webkit-datetime-edit-fields-wrapper { background: silver; }
::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; }
::-webkit-datetime-edit-month-field { color: blue; }
::-webkit-datetime-edit-day-field { color: green; }
::-webkit-datetime-edit-year-field { color: purple; }
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { background: orange; }
@media screen and (max-width: 991px) {
    header {
        max-width: 800px;
        padding: 45px;
    }

    main {
        max-width: 800px;
        padding: 0 45px 0 45px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 21px;
    }

    .new-task-input,
    .content {
        padding: 18px;
    }

    .new-task-submit,
    .new-task-input,
    .new-task-input::-webkit-input-placeholder,
    .input-text,
    .checked,
    .remove {
        font-size: 17px;
    }

    @media screen and (max-width: 768px) {
        header {
            max-width: 650px;
            padding: 40px;
        }

        main {
            max-width: 650px;
            padding: 0 40px 0 40px;
        }

        h1 {
            font-size: 26px;
        }

        h2 {
            font-size: 19px;
        }

        .new-task-input {
            margin-right: 30px;
        }

        .new-task-submit,
        .new-task-input,
        .new-task-input::-webkit-input-placeholder,
        .input-text,
        .checked,
        .remove {
            font-size: 16px;
        }

        @media screen and (max-width: 624px) {
            header {
                max-width: 600px;
            }

            main {
                max-width: 600px;
            }

            .new-task-input {
                margin-right: 30px;
            }

            @media screen and (max-width: 575px) {
                header {
                    max-width: 550px;
                    padding: 35px;
                }

                main {
                    max-width: 550px;
                    padding: 0 35px 0 35px;
                }

                .new-task-input {
                    margin-right: 25px;
                }

                h1 {
                    font-size: 22px;
                }

                h2 {
                    font-size: 15px;
                }

                .new-task-submit,
                .new-task-input,
                .new-task-input::-webkit-input-placeholder,
                .input-text,
                .checked,
                .remove {
                    font-size: 14px;
                }

                @media screen and (max-width: 450px) {

                    .checked,
                    .remove {
                        padding: 1px 3px;
                    }

                    header {

                        padding: 30px;
                    }

                    main {
                        padding: 0 30px 0 30px;
                    }

                    @media screen and (max-width: 381px) {
                        .new-task-input {
                            padding: 16px;
                            margin-right: 15px;
                        }

                        .main-header {
                            padding: 25px;
                        }

                        .content {
                            padding: 16px;
                            flex: none;
                            flex-direction: column;
                        }

                        .press {
                            justify-content: space-between;
                        }

                        main {
                            padding: 0 25px 0 25px;
                        }

                        .checked,
                        .remove {
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
}